@model DeliveryApp.Web.Models.Product


   

    <div>@Html.Partial("Banner", null)</div>

    <div>@Html.Partial("Products2", Model)</div>


    <div>@Html.Partial("RelatedProducts", null)</div>



   