<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    @await Html.PartialAsync("Header")
    <div>
        @RenderBody()
    </div>
    @await Html.PartialAsync("Footer")
</body>
</html>
