<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!------Navbar---------->
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="container-fluid">
                <div class="row">

                    <!------Sidebar---------->
                    <div class=" col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                        <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">My Admin</a>
                        <div class="bottom-border pb-3">
                            <img src="http://res.cloudinary.com/dfqddpjfl/image/upload/v1494008772/woman1_nr8qgi.jpg" width="50" class="rounded-circle mr-3">
                            <a href="#" class="text-white">Ann Smith</a>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2 current"><i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-user text-light fa-lg mr-3"></i>Profile</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-envelope text-light fa-lg mr-3"></i>Inbox</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-shopping-cart text-light fa-lg mr-3"></i>Sales</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-chart-line text-light fa-lg mr-3"></i>Analytics</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-chart-bar text-light fa-lg mr-3"></i>Charts</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-table text-light fa-lg mr-3"></i>Table</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white p-2 mb-2"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>
                        </ul>
                    </div>
                    <!------End of Sidebar--->
                    <!------Top nav---------->
                    <div class=" col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <h4 class="text-light text-uppercase mb-0">Dashboard</h4>
                            </div>
                            <div class="col-md-5">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control search-input" placeholder="Search">
                                        <button type="button" class="btn btn-white search-button"><i class="fas fa-search text-danger"></i></button>

                                    </div>
                                </form>

                            </div>
                            <div class="col-md-3">
                                <ul class="navbar-nav">
                                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>
                                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>
                                    <li class="nav-item ml-md-auto">
                                        <a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out">
                                            <i class="fas fa-sign-out-alt text-danger fa-lg"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <!------End of Top Nav--->
                </div>
    </nav>
    <!------End of Navbar--->







    <div class="w3-container">
        @RenderBody()
    </div>

    <!------Footer--->
    <footer>
        <div class="container-fluid">
            <div class="row border-top pt-3">
                <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item mr-2">
                                    <a href="#" class="text-dark">Home</a>
                                </li>
                                <li class="list-inline-item mr-2">
                                    <a href="#" class="text-dark">About</a>
                                </li>
                                <li class="list-inline-item mr-2">
                                    <a href="#" class="text-dark">Support</a>
                                </li>
                                <li class="list-inline-item mr-2">
                                    <a href="#" class="text-dark">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-center">
                            <p>&copy; 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!------End of Footer--->


</body>
</html>
